body{
  font-family: arial, sans-serif;
  margin: 0;
}

/* GLOBAL WRAPPER STYLES */
.wrapper{
  width: 94%;
  max-width: 1180px;
  padding: 0 3%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* HEADER / NAV STYLES */

header .logo{
  flex: 1 1 30%;
  font-family: 'Lobster', cursive;
}

header nav{
  flex: 1 1 70%;
}

header nav h2{
  text-indent: -10000px;
  height: 0;
  margin: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav li{
  list-style-type: none;
  margin: 20px 15px 0;
}

header nav li a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* BANNER STYLES */
#main-banner, #main-banner img{
  position: relative;
  /* display: flex; */
  width: 100%; 
}

#main-banner h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 15%;
  font-size: 3.5em;
  color: rgba(255,255,255,0.7);
}

#main-banner img{
  border-bottom: 6px solid #000;
  opacity: 0.8;
  width: 100%;
}

/* MAIN CONTENT / MENUS STYLES */
#home-menu {
  flex: 1 0 100%;
}

#home-menu h2{
  background-image: url(images/menu-header.png);
  background-repeat: no-repeat;
  width: 156px;
  height: 74px;
  margin: 0 auto;
  position: relative;
  top: -4px;
  color: #fff;
  display: flex;
  padding: 8px 0;
  justify-content: center;
}

#menu-items {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
} 

#menu-items ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 3%;
  flex: 1 0 42%;
}

#menu-items li{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  padding: 0;
  margin: 20px 0;
  justify-content: space-between;
}

.dish{
  color: #555;
  font-weight: bold;
  position: relative;
  z-index: 1;
  background: #fff;
  padding-right: 10px;
  font-size: 16px;
}

.price{
  color: #555;
  font-weight: bold;
  position: relative;
  z-index: 1;
  background: #fff;
  padding-left: 10px;
  font-size: 14px;
}

.description{
  color: #999;
  font-style: italic;
  font-size: 14px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  position: relative;
  top: -8px;
  flex: 1 0 100%;
}

/* SUB MENU STYLES */
#featured {
  flex: 1 0 100%;
  margin-top: 80px;
  font-size: 14px;
}

#featured-items {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 1%;
} 

#featured-items ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#featured-items li{
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 23%;
  padding: 0;
  margin: 20px 0;
  justify-content: space-around;
}

#featured li img {
  width: 100%;
  padding: 10px;
} 


#featured li a{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#featured li span{
  color: #333;
}

/* FOOTER STYLES */
footer {
  background: #3b3b3b;
  margin-top: 100px;
  padding: 30px 0;
  font-size: 14px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  color: #eee;
  width: 23%;
  margin-right: 2%;
}

footer li{
  margin: 10px 0;
}

footer a{
  color: #eee;
  text-decoration: none;
}

footer .logo{
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

/* MEDIA QUERIES */

/* tablets */

@media screen and (max-width: 768px) {
  
  #featured-items li{
    flex: 1 0 46%;
  }
  
  #menu-items ul{
    flex: 1 0 92%;
  }
  
  header .logo{
    flex: 1 1 100%;
    text-align: center;
  }

  header nav {
    flex: 1 1 100%;
  }

  header nav ul {
    justify-content: center;
    margin-top: 0;
  }

}

/* mobiles */
@media screen and (max-width: 480px) {

    
  .burger-nav {
    height: 40px;
    width: 100%;
    background: url(images/nav-burger.png) no-repeat 98% center;
    background-color: #404040;
    cursor: pointer;
    display: flex;
    flex: 1 0 100%;
  }

  header .wrapper {
    width: 100%;
    padding: 0;
  }

  header nav ul {
    overflow: hidden;
    background: #505050;
    height: 0;
    margin: 0;
    padding-right: 40px;
  }

  header nav ul.open {
    height: auto;
  }

  header nav ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  header nav ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }

  #main-banner h1 {
    font-size: 2.0em;
  }

  #featured-items li{
    flex: 1 0 92%;
  }

  
  footer ul {
    width: 46%;
  }

  
}
